<div class="ibox mb-2">
    <form name="form">
        <div class="ibox-head">
            <div class="ibox-title">Configurações da Empresa</div>
                <div class="ibox-tools">
                    <button class="btn btn-primary mr-2" type="submit" ng-click="saveDadosEmpresa()" >Salvar</button>
            </div>
        </div>
        <div class="ibox-body">
            <div class="row">

                <div class="col-md-12">
                    <div class="form-group mb-12">
                        <label>Nome da empresa</label>
                        <input class="form-control"  ng-model="empresa[0].nome" type="text" placeholder="Digite o nome a ser exibido no seu aplicativo">
                    </div>
                    
                </div>
            </div>
        </div>
    </form>
</div>              